<footer>
    <div class="info">
        <div class="socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="company">&copy;WanderLust Privacy Limited</div>
        <div class="links">
            <span class="privacy">Privacy</span>
            <span class="terms">Terms</span>
        </div>
    </div>
</footer>